.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 500px;

  }
  .grid-item, .selected-grid-item{
    flex-grow: 1;
    flex-basis: 10px;
    height: 80px;
    background-color: hsl(0, 0%, 88%);
  }
  .selected-grid-item {
    background-color: blue;
  }
.buttons {
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 30px;
}
#reset {
    justify-self: center;
}

.column {
    flex-basis: 100px;
}
  